<div class="sidebarFechada">
    <ul class="menuFechado"> 
        <div id="lm">
            <a href="/"><img src="images/logo.svg" alt="Logo" class="logo invisible icon"></a>

            <img src="images/menu.svg" alt="Menu" id="botao">
        </div>

        <div id="item2">
                <li ><img src="images/grid.svg" alt="" >
                    <a href="/painel" class="invisible icon">Dashboard</a>
                </li>
        </div>

        <div id="item3" >
                <li ><img src="images/pet.svg" alt="" >
                    <a href="/pets" class="invisible icon">Pets</a>
                </li>
        </div>
        <div id="item4" >
            <li><img src="images/user.svg" alt="" >
                <a href="/contatos" class="invisible icon">Contatos</a>
                </li>
        </div>
        <div id="item5" >
                <li><img src="images/vet.svg" alt="" >
                    <a href="/vet" class="invisible icon">Vets</a>
                </li>
        </div>
    </ul>
    <div id="item6" >
        <a href="/agenda" class="invisible icon">Agenda</a>

    </div>
    <spam class ='user'><img src="images/log-out.svg" alt=""><img src="./images/photo.jpg" alt="" class="invisible"></spam>
</div>