<!DOCTYPE html>

    <%- include ("../partials/head"); %>

<body>
    
    <%- include ("../partials/sidebar"); %>
    <h1>Contatos</h1>

    <script src="scripts/script.js"></script>
    
</body>
</html>